<!DOCTYPE html>
<html>
<head>
  <title>World's Largest Professional Network</title>
  <link rel="stylesheet" type="text/css" href="/assets/application.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
